body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:330px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:330px;
}
#u1 {
  position:absolute;
  left:2px;
  top:157px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:90px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:32px;
  top:144px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:32px;
  top:240px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:31px;
  top:33px;
  width:53px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:190px;
  top:240px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:fixed;
  left:50%;
  margin-left:-143px;
  top:50%;
  margin-top:-60px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u12 {
  position:absolute;
  left:2px;
  top:44px;
  width:282px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:117px;
  top:84px;
  width:200px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u14 {
  position:absolute;
  left:117px;
  top:27px;
  width:200px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:117px;
  top:135px;
  width:200px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:32px;
  top:200px;
  width:53px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:117px;
  top:197px;
  width:200px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
