body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:425px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:425px;
}
#u1 {
  position:absolute;
  left:2px;
  top:204px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:49px;
  top:38px;
  width:40px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:61px;
  top:83px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:118px;
  top:78px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:70px;
  top:374px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:200px;
  top:374px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:61px;
  top:130px;
  width:27px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:32px;
  top:239px;
  width:56px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:118px;
  top:239px;
  width:200px;
  height:99px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:99px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:60px;
  top:184px;
  width:28px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:118px;
  top:180px;
  width:200px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u17 {
  position:absolute;
  left:318px;
  top:33px;
  width:22px;
  height:17px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:318px;
  top:78px;
  width:22px;
  height:17px;
  color:#FF0000;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:318px;
  top:128px;
  width:22px;
  height:17px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:318px;
  top:182px;
  width:22px;
  height:17px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:318px;
  top:241px;
  width:22px;
  height:17px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:240px;
  top:34px;
  width:78px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:118px;
  top:34px;
  width:61px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u29 {
  position:absolute;
  left:179px;
  top:34px;
  width:61px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u30 {
  position:absolute;
  left:280px;
  top:126px;
  width:38px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:118px;
  top:126px;
  width:54px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u32 {
  position:absolute;
  left:172px;
  top:126px;
  width:54px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u33 {
  position:absolute;
  left:226px;
  top:126px;
  width:54px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34 {
  position:absolute;
  left:118px;
  top:93px;
  width:150px;
  height:165px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:165px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:143px;
  top:168px;
  width:100px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:143px;
  top:213px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
