body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:400px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:400px;
}
#u1 {
  position:absolute;
  left:2px;
  top:192px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:101px;
  width:40px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:54px;
  top:170px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:47px;
  top:36px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:132px;
  top:98px;
  width:200px;
  height:22px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9 {
  position:absolute;
  left:210px;
  top:305px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:132px;
  top:167px;
  width:200px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11 {
  position:absolute;
  left:133px;
  top:33px;
  width:200px;
  height:22px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12 {
  position:absolute;
  left:47px;
  top:305px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:70px;
  top:65px;
  width:240px;
  height:79px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:79px;
}
#u14 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:140px;
  width:100px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16 {
  position:absolute;
  left:210px;
  top:140px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:333px;
  top:36px;
  width:30px;
  height:10px;
  color:#FF0000;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:132px;
  top:65px;
  width:168px;
  height:16px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
