<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.template.common.dao.CityDao">
    <!--查询省市区-->
    <select id="city" resultType="com.template.common.domain.CityDO">
        select area_id,area_name from hy_area where area_parent_id = #{areaParentAreaId}
    </select>
</mapper>