body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:45px;
  top:117px;
  width:117px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:82px;
  width:60px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u4 {
  position:fixed;
  left:50%;
  margin-left:-143px;
  top:50%;
  margin-top:-60px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u6 {
  position:absolute;
  left:2px;
  top:44px;
  width:282px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:156px;
  top:82px;
  width:174px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:57px;
  top:424px;
  width:14px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:38px;
  top:418px;
  width:14px;
  height:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:169px;
  top:306px;
  width:121px;
  height:34px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:312px;
  top:306px;
  width:119px;
  height:34px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:34px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:30px;
  top:150px;
  width:163px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:184px;
  width:100px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:156px;
  top:146px;
  width:24px;
  height:23px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:210px;
  top:146px;
  width:25px;
  height:23px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:156px;
  top:117px;
  width:174px;
  height:19px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:59px;
  top:220px;
  width:134px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:154px;
  top:220px;
  width:174px;
  height:19px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:53px;
  top:256px;
  width:91px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:154px;
  top:254px;
  width:174px;
  height:19px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:180px;
  top:146px;
  width:30px;
  height:23px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:154px;
  top:254px;
  width:174px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:156px;
  top:187px;
  width:24px;
  height:23px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:210px;
  top:187px;
  width:25px;
  height:23px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:180px;
  top:187px;
  width:30px;
  height:23px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:340px;
  top:82px;
  width:62px;
  height:22px;
  color:#FF0000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:340px;
  top:114px;
  width:62px;
  height:22px;
  color:#FF0000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:338px;
  top:220px;
  width:62px;
  height:22px;
  color:#FF0000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:364px;
  top:260px;
  width:100px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:504px;
  top:260px;
  width:96px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:364px;
  top:190px;
  width:236px;
  height:70px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:70px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
