body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:425px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:425px;
}
#u1 {
  position:absolute;
  left:2px;
  top:204px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:32px;
  top:38px;
  width:40px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:32px;
  top:95px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:118px;
  top:33px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:118px;
  top:90px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:70px;
  top:379px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:200px;
  top:379px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:32px;
  top:157px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:118px;
  top:152px;
  width:200px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:32px;
  top:218px;
  width:53px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:118px;
  top:214px;
  width:200px;
  height:22px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16 {
  position:absolute;
  left:32px;
  top:275px;
  width:60px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:118px;
  top:268px;
  width:200px;
  height:85px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:85px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
