<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.template.driver.domain.DriverInfoDO">

	<select id="get" resultType="com.template.driver.domain.DriverInfoDO">
		select `driver_id`,`driver_no`,`operator_no`,`driver_name`,`sex`,`birthday`,`card_no`,`driver_car_no`,`qualification_certificate_no`,`age`,`drive_age`,`phone`,`role_id`,`driver_img`,`card_img`,`driver_car_img`,`escort_card_img`,`create_user`,`create_time`,`last_modify_user`,`last_modify_time`,`status` from hy_driver_info where driver_id = #{value}
	</select>

	<select id="list" resultType="com.template.driver.domain.DriverInfoDO">
		select `driver_id`,`driver_no`,`operator_no`,`driver_name`,`sex`,`birthday`,`card_no`,`driver_car_no`,`qualification_certificate_no`,`age`,`drive_age`,`phone`,`role_id`,`driver_img`,`card_img`,`driver_car_img`,`escort_card_img`,`create_user`,`create_time`,`last_modify_user`,`last_modify_time`,`status` from hy_driver_info
        <where>  
		  		  <if test="driverId != null and driverId != ''"> and driver_id = #{driverId} </if>
		  		  <if test="driverNo != null and driverNo != ''"> and driver_no = #{driverNo} </if>
		  		  <if test="operatorNo != null and operatorNo != ''"> and operator_no = #{operatorNo} </if>
		  		  <if test="driverName != null and driverName != ''"> and driver_name = #{driverName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="cardNo != null and cardNo != ''"> and card_no = #{cardNo} </if>
		  		  <if test="driverCarNo != null and driverCarNo != ''"> and driver_car_no = #{driverCarNo} </if>
		  		  <if test="qualificationCertificateNo != null and qualificationCertificateNo != ''"> and qualification_certificate_no = #{qualificationCertificateNo} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="driveAge != null and driveAge != ''"> and drive_age = #{driveAge} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
		  		  <if test="driverImg != null and driverImg != ''"> and driver_img = #{driverImg} </if>
		  		  <if test="cardImg != null and cardImg != ''"> and card_img = #{cardImg} </if>
		  		  <if test="driverCarImg != null and driverCarImg != ''"> and driver_car_img = #{driverCarImg} </if>
		  		  <if test="escortCardImg != null and escortCardImg != ''"> and escort_card_img = #{escortCardImg} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="lastModifyUser != null and lastModifyUser != ''"> and last_modify_user = #{lastModifyUser} </if>
		  		  <if test="lastModifyTime != null and lastModifyTime != ''"> and last_modify_time = #{lastModifyTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by driver_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from hy_driver_info
		 <where>  
		  		  <if test="driverId != null and driverId != ''"> and driver_id = #{driverId} </if>
		  		  <if test="driverNo != null and driverNo != ''"> and driver_no = #{driverNo} </if>
		  		  <if test="operatorNo != null and operatorNo != ''"> and operator_no = #{operatorNo} </if>
		  		  <if test="driverName != null and driverName != ''"> and driver_name = #{driverName} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="birthday != null and birthday != ''"> and birthday = #{birthday} </if>
		  		  <if test="cardNo != null and cardNo != ''"> and card_no = #{cardNo} </if>
		  		  <if test="driverCarNo != null and driverCarNo != ''"> and driver_car_no = #{driverCarNo} </if>
		  		  <if test="qualificationCertificateNo != null and qualificationCertificateNo != ''"> and qualification_certificate_no = #{qualificationCertificateNo} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="driveAge != null and driveAge != ''"> and drive_age = #{driveAge} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="roleId != null and roleId != ''"> and role_id = #{roleId} </if>
		  		  <if test="driverImg != null and driverImg != ''"> and driver_img = #{driverImg} </if>
		  		  <if test="cardImg != null and cardImg != ''"> and card_img = #{cardImg} </if>
		  		  <if test="driverCarImg != null and driverCarImg != ''"> and driver_car_img = #{driverCarImg} </if>
		  		  <if test="escortCardImg != null and escortCardImg != ''"> and escort_card_img = #{escortCardImg} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="lastModifyUser != null and lastModifyUser != ''"> and last_modify_user = #{lastModifyUser} </if>
		  		  <if test="lastModifyTime != null and lastModifyTime != ''"> and last_modify_time = #{lastModifyTime} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.template.driver.domain.DriverInfoDO">
		insert into hy_driver_info
		(
			`driver_id`, 
			`driver_no`, 
			`operator_no`, 
			`driver_name`, 
			`sex`, 
			`birthday`, 
			`card_no`, 
			`driver_car_no`, 
			`qualification_certificate_no`, 
			`age`, 
			`drive_age`, 
			`phone`, 
			`role_id`, 
			`driver_img`, 
			`card_img`, 
			`driver_car_img`, 
			`escort_card_img`, 
			`create_user`, 
			`create_time`, 
			`last_modify_user`, 
			`last_modify_time`, 
			`status`
		)
		values
		(
			#{driverId}, 
			#{driverNo}, 
			#{operatorNo}, 
			#{driverName}, 
			#{sex}, 
			#{birthday}, 
			#{cardNo}, 
			#{driverCarNo}, 
			#{qualificationCertificateNo}, 
			#{age}, 
			#{driveAge}, 
			#{phone}, 
			#{roleId}, 
			#{driverImg}, 
			#{cardImg}, 
			#{driverCarImg}, 
			#{escortCardImg}, 
			#{createUser}, 
			#{createTime}, 
			#{lastModifyUser}, 
			#{lastModifyTime}, 
			#{status}
		)
	</insert>
	 
	<update id="update" parameterType="com.template.driver.domain.DriverInfoDO">
		update hy_driver_info 
		<set>
			<if test="driverNo != null">`driver_no` = #{driverNo}, </if>
			<if test="operatorNo != null">`operator_no` = #{operatorNo}, </if>
			<if test="driverName != null">`driver_name` = #{driverName}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="birthday != null">`birthday` = #{birthday}, </if>
			<if test="cardNo != null">`card_no` = #{cardNo}, </if>
			<if test="driverCarNo != null">`driver_car_no` = #{driverCarNo}, </if>
			<if test="qualificationCertificateNo != null">`qualification_certificate_no` = #{qualificationCertificateNo}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="driveAge != null">`drive_age` = #{driveAge}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="roleId != null">`role_id` = #{roleId}, </if>
			<if test="driverImg != null">`driver_img` = #{driverImg}, </if>
			<if test="cardImg != null">`card_img` = #{cardImg}, </if>
			<if test="driverCarImg != null">`driver_car_img` = #{driverCarImg}, </if>
			<if test="escortCardImg != null">`escort_card_img` = #{escortCardImg}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="lastModifyUser != null">`last_modify_user` = #{lastModifyUser}, </if>
			<if test="lastModifyTime != null">`last_modify_time` = #{lastModifyTime}, </if>
			<if test="status != null">`status` = #{status}</if>
		</set>
		where driver_id = #{driverId}
	</update>
	
	<delete id="remove">
		delete from hy_driver_info where driver_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from hy_driver_info where driver_id in 
		<foreach item="driverId" collection="array" open="(" separator="," close=")">
			#{driverId}
		</foreach>
	</delete>

</mapper>