body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:670px;
  top:155px;
  width:100px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:720px;
  top:431px;
  width:40px;
  height:16px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:770px;
  top:431px;
  width:40px;
  height:16px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:820px;
  top:431px;
  width:14px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:658px;
  top:431px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:855px;
  top:431px;
  width:40px;
  height:16px;
  text-decoration:underline;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:205px;
  top:206px;
  width:714px;
  height:146px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:69px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:97px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:101px;
  top:0px;
  width:139px;
  height:69px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:69px;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:135px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:240px;
  top:0px;
  width:131px;
  height:69px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:69px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:127px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:371px;
  top:0px;
  width:181px;
  height:69px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:69px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:177px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:552px;
  top:0px;
  width:157px;
  height:69px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:69px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:153px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:69px;
  width:101px;
  height:36px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:101px;
  top:69px;
  width:139px;
  height:36px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:240px;
  top:69px;
  width:131px;
  height:36px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:371px;
  top:69px;
  width:181px;
  height:36px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:552px;
  top:69px;
  width:157px;
  height:36px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:105px;
  width:101px;
  height:36px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:101px;
  top:105px;
  width:139px;
  height:36px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:240px;
  top:105px;
  width:131px;
  height:36px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:371px;
  top:105px;
  width:181px;
  height:36px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:552px;
  top:105px;
  width:157px;
  height:36px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:218px;
  top:80px;
  width:40px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:500px;
  top:80px;
  width:140px;
  height:22px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44 {
  position:absolute;
  left:435px;
  top:83px;
  width:53px;
  height:16px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:205px;
  top:155px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:321px;
  top:155px;
  width:100px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:340px;
  top:78px;
  width:70px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:774px;
  top:280px;
  width:41px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:850px;
  top:280px;
  width:41px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:435px;
  top:155px;
  width:100px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:205px;
  top:427px;
  width:282px;
  height:21px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:495px;
  top:427px;
  width:72px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u55 {
  position:absolute;
  left:552px;
  top:155px;
  width:100px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:578px;
  top:431px;
  width:40px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:918px;
  top:431px;
  width:42px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u60 {
  position:fixed;
  left:50%;
  margin-left:0px;
  top:50%;
  margin-top:0px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61 {
  position:absolute;
  left:792px;
  top:160px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:270px;
  top:78px;
  width:35px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u64 {
  position:absolute;
  left:305px;
  top:78px;
  width:35px;
  height:22px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u65 {
  position:absolute;
  left:670px;
  top:86px;
  width:53px;
  height:16px;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:839px;
  top:80px;
  width:70px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:769px;
  top:80px;
  width:35px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u69 {
  position:absolute;
  left:804px;
  top:80px;
  width:35px;
  height:22px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70 {
  position:absolute;
  left:733px;
  top:80px;
  width:35px;
  height:22px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background-image:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
